<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div>
  <%= link_to "Back to recipes", recipes_path %>

  <%= button_to "Destroy this recipe", @recipe, method: :delete %>

  <%= link_to "Add ingredient", new_foods_recipe_path(recipe_id: @recipe.id) %>

  <table id="ingredient">
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <tbody>
    <% @recipe.foods.each do |food| %>
      <%= render "ingredient", food: food %>
    <% end %>
  </tbody>
</table>
</div>
